*{
	padding: 0px;
	margin:0px;
	font-size: 14px;
}
button{
	background: linear-gradient(#F5F5F5, #DFDFDF);
    border: 1.6px solid #A9A9A9;
	margin-right: -5px;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 2px;	
}
input{
    vertical-align: top;  
	margin-right:-5px;
	width: 180px;
	height: 20px;
    border: 1.6px solid #A9A9A9;	
}
#Save:hover{
    border: #487bda 1px solid;
}